<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>

    <!-- Bootstrap core CSS-->
    <link href="/static/admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="/static/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="/static/admin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/admin/css/sb-admin.css" rel="stylesheet">

    <!-- select search -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.3/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.3/js/bootstrap-select.min.js"></script>

</head>

<body id="page-top">
<div class="container-fluid">

    <div class="card mb-3">
        <div class="card-header">
            Login
        </div>
        <div class="card-body">
            <form method="post" action="/boss/login">
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="" class="form-control" name="username" value="">
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Password</label>
                    <input type="password" class="form-control" name="password" value="">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>

        </div>
        <div class="card-footer small text-muted"></div>
    </div>

</div>
</body>
</html>
