body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.ui.secondary.pointing.menu .active.item {
    border-color: red !important;
}

.ui.primary.button, .ui.primary.buttons .button{
    background-color: #F3817A !important;
}

p,h1,h2,h3,h4,h5{
    color: #2E333E ;
}
.inverted p, .inverted h1, .inverted h2, .inverted h3, .inverted h4, .inverted h5{
    color: #FFFFFF ;
}


.ui.basic.button, .ui.basic.buttons .button {
    background: #FAFAFB !important;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
.custom-file-input::before {
    content: ' ';

}

.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.custom-file-input:focus{
    outline: none;
}