
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');


.template-3 h1, h2 {
    font-weight: 400;
}

.template-3 p, .template-3 h1, .template-3 h2, .template-3 h3, .template-3 h4, .template-3 h5,.template-3 h6{
    font-family: 'EB Garamond', serif;
    color: #333;
}

.template-3 .cursive{
    font-family: 'Great Vibes', cursive;
}

.template-3 h1{
    font-size: 34px;
}