
@import url('https://fonts.googleapis.com/css?family=Arapey');
@import url('https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff');

.template-6 {
    padding-top: 80px
}
.template-6 h1, h2 {
    font-weight: 700;
}

.template-6-menu, .template-6 p, .template-6 h1, .template-6 h2, .template-6 h3, .template-6 h4, .template-6 h5,.template-6 h6{
    font-family: 'Arapey', serif;
    color: #333;
}

.template-6 .cursive{
    font-family: 'Herr Von Muellerhoff', cursive;
    font-weight: 400;
}

.template-6 h1{
    font-size: 34px;
}

.template-6-menu p{
    color: rgba(0,0,0,0.6) !important;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-bottom: 26px;
    border-bottom: 1px solid #eee;
}